.login {
  min-height: calc(100vh - 140px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.login__card {
  width: 420px;

  background: #1e293b;

  padding: 40px;

  border-radius: 16px;
}

.login__title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.login__subtitle {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login__group label {
  color: white;
  font-weight: 600;
}

.login__group input {
  padding: 14px;
  border-radius: 10px;
  border: none;
}

.login__button {
  background: #2563eb;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;
}

.login__button:hover {
  background: #1d4ed8;
}